[Sound]
# True/False - enables or disables ingame sounds
Sound = True

[Effects]
# set ReduceEffects to True if you experience slow gameplay (for old computers)
ReduceEffects = False

[Network]
# enables or disables global server score tables
ServerScores = True

[Gameplay]
# cheats :]
Cheats = False
